
*, *::before, *::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.game-wrapper {
    border: solid black 1px;
    width: 960px;
    height: 500px;
    margin: 30px auto;
}
.blocks-wrapper {
    position: relative;
    width: 100%;
}
.block {
    position: absolute;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    background-color: darkgrey;
    margin: 5px;
}